.card {
    width: 320px;
    height: 499px;
    padding: 16px;
    border-radius: 20px;
    background-color: white;

    img {
        width: 100%;
        height: auto;
        border-radius: 16px;
    }

    .text {
        padding: 0px 16px;

        .title {
            font-size: 22px;
        }
    
        .description {
            font-size: 15px;
            color: #68778D;
        }
    }
}